@import "./reset.css";

.btnPuple {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 4px 24px;
  gap: 10px;

  border: 1px solid var(--color-purple100);
  border-radius: 16px;

  cursor: pointer;
}

.btnAdotar {
  width: 115px;
  height: 27px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  gap: 10px;

  border-radius: 16px;
}

.btnLogin {
  width: 170px;
  max-width: 170px;

  height: 35px;
}
