/*  */
/* font Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
  --color-purple100: #4e2096;
  --color-purple200: #b48cf2;
  --color-green100: #33cc66;
  --color-white100: #ffffff;
  --color-gray100: #1b1c1e;
  --color-gray200: #90a4ae;
  --color-gray300: #f5f1f1;
  --color-gray400: #f3fafd;
  --color-red100: #ea534a;


--radius-4: border-radius: 4px;
--radius-16: border-radius: 16px;

}

body {
  background-color: var(--color-white100);
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100vw;
  height: 90vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap
}
/* Header Padrão em todas as pages */
body > header {
 width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}


body > header > div {
  width: 100%;
  min-width: 320px;
  max-width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    gap: 20px;

    

}

body > header > div > div > nav {
  width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.none {
  display: none;;
}

i#menu {
  cursor: pointer;
}

i#menu:hover {
  background-color: #00000010;

  border-radius: 10px;
  outline: none;
}

/* Tipografia */
.title-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}

.title-1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 38px;
  margin-bottom: 10px;
}


.text-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.text-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
}

.text-3 {

  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 11px;
}
.text-4 {

font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
}






/* Colors Fonts */

.purple100 {
  color: var(--color-purple100);
}

.purple200 {
  color: var(--color-purple200);
}

.green100 {
  color: var(--color-green100);
}

.white100 {
  color: var(--color-white100);
}

.gray100 {
  color: var(--color-gray100);
}

.gray200 {
  color: var(--color-gray200);
}

.gray300 {
  color: var(--color-gray300);
}

/* backgroud color */

.back-purple100 {
  background-color: var(--color-purple100);
}

.back-purple200 {
  background-color: var(--color-purple200);
}

.back-green100 {
  background-color: var(--color-green100);
}

.back-white100 {
  background-color: var(--color-white100);
}

.back-gray100 {
  background-color: var(--color-gray100);
}

.back-gray200 {
  background-color: var(--color-gray200);
}

.back-gray300 {
  background-color: var(--color-gray300);
}


footer{

  margin-top: 40px;
}